$color-negro-shadow:  rgb(0, 0, 0);
$color-separador: rgb(115, 115, 115); 
$color-shadow: 2px 2px 7px rgb(255, 255, 255);
$tipografia-1:'Indie Flower';
$tipografia-2:"Rubik glitch";
$tipografia-3: "Griffy";


