@import "variables";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*

body {
    position: relative;
    padding-bottom: 17em;
background-color: #2f3134;
   
    }

    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .capa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1c1c1d95;
        opacity: 0.5;
        mix-blend-mode: overlay;
    }


/*
.colorDeFondo {
    margin: 0%;
    background-color: rgba(6, 6, 6, 0.755);
font-size: 1.2rem;
}

*/
/*
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
}*/
/*
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d95;
    opacity: 0.5;
    mix-blend-mode: overlay;
}*/

header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: $tipografia-3, cursive;
    font-size: x-large;
    background-color: $color-negro-shadow;
    text-shadow: $color-shadow;

    .cabecera {
        padding: 0;
        margin: 0;
    }

    .logo {
        width: 100px;
        height: 100px;

        top: 25px;
        left: 5px;

    }

    nav ul {
        list-style-type: none;
    }
}

/*
.logo {
    width: 100px;
    height: 100px;

    top: 25px;
    left: 5px;
}

.cabecera {
    padding: 0;
    margin: 0;
}





nav ul {
    list-style-type: none;
}
*/

h1 {
   color:$color-negro-shadow;
   
    text-shadow: $color-shadow;
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: $tipografia-2, cursive;
    animation: iconfloat, infinite 5s ease-in-out;
    margin-top: 2%;
}

/*
h1 {
    color: rgb(14, 9, 1);
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: "Rubik glitch", cursive;
    animation: iconfloat, infinite 5s ease-in-out;
}*/


.fotoHistoria {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.parrafo {
    line-height: 2;
    font-family: $tipografia-1, cursive;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

.parrafocontacto {
    line-height: 2;
    font-family: $tipografia-1;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color:$color-negro-shadow;

    text-shadow: $color-shadow;
    position: relative;
}



.titulohistoria {
    font-family: $tipografia-3;
    font-size: 5rem;
    margin-bottom: 1%;
}

@media screen and (max-width: 314px) {
    .titulohistoria {
        font-size: 3rem;
    }
}

.cartas {
    margin-left: 1%;
}

.card-title {
    color:$color-negro-shadow;

    text-shadow: 2px 2px 7px rgb(252, 3, 3);
    font-family: $tipografia-3, cursive;
    font-size: xx-large;
}


h2 {
    color:$color-negro-shadow;

    text-shadow: $color-shadow;
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: $tipografia-2, cursive;
    animation: iconfloat, infinite 5s ease-in-out;
    margin-top: 2%;
}

section h2 {
    color: white;
    font-family: $tipografia-3, cursive;
    font-size: x-large;
    margin-top: 5%;
}


.entradaEvento {
    font-family: $tipografia-3, cursive;
    font-size: x-large;
    text-align: center center;
}

.proximoEvento {
    margin-top: 3%;
    margin-left: 30%;
    width: 40%;
    position: relative;
    z-index: 2;
    opacity: 75%;
}

.infoEvento {
    text-align: center;
    line-height: 2;
    position: relative;
    z-index: 2;
    font-family: $tipografia-3, cursive;
    font-size: xx-large;
    color:$color-negro-shadow;
    text-shadow: $color-shadow;
    font-weight: bold;
}

.mapa_del_evento {
    position: relative;
    overflow: hidden;
    margin-left: 33%;
}


.entradaEvento {
    text-align: center;
    position: relative;
    z-index: 2;
}



.copy {
    display: inline-flex;
    position: relative;
    z-index: 2;
}

.copy {
    margin-top: 2.5rem;
    margin-left: -1rem;
}


footer {
    background-color: #212529;
    min-height: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5em 0;
    
}



div footer {
    display: inline-block;
}

.empresa {
    color: aliceblue;

}

.footercontacto {
    position: -webkit-sticky;
}



.logofoot {
    width: 40px;
    height: 40px;

    display: flex;
}





.mensajito {
    position: relative;
}




.imagenespaganas {
    background-color: rgba(95, 90, 90, 0.069);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    object-fit: cover;
}


.imagenespaganas .fotos {
    width: 450px;
    height: 450px;
border: rgba(235, 163, 163, 0.575) solid;}


   section img:hover {transform: scale(1.25);}

  


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.redes {
    display: inline-block;
    font-size: 26px;
    padding: 0 8px;
    animation: float infinite 4s ease-in-out;
}

.iconoinsta {
    animation: float infinite 4s ease-in-out;
    animation-delay: 0.5s
}

.iconospoty {
    animation: float infinite 4s ease-in-out;
    animation-delay: 1s
}

.iconoyoutube {
    animation: float infinite 4s ease-in-out;
}

.iconoface {
    width: 25px;
}

.iconoinsta {
    width: 25px;
}

.iconospoty {
    width: 60px;
}

.iconoyoutube {
    width: 60px;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
}

main section div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    background-image: url(../asset/imagenes/teatrofurio.jpg);
    background-position: center;

}

.galeria {
    width: 70%;
}



form {
    justify-content: center;
}

::placeholder {
    color: rgb(254, 247, 247);
    font-size: 1rem;
}

.titulodecontacto {
    margin-top: 1%;
}

.separador {
    color:$color-separador;
    margin-left: 6%;
    margin-right: 6%;
    border-top: 10px solid rgb(116, 116, 116)
}

hr {@include mixinmargenes}

.container .cover { 
    object-fit: cover;
}



.parrafoerror{
    color: white;
    font-size: x-large;
}
